Source: stanford-corenlp-http-server
Section: java
Priority: optional
Maintainer: Stephen Reay <stephen@koalephant.com>
Build-Depends: debhelper (>= 9), lib-stanford-corenlp-java (>= 3.5.2), devscripts, javahelper, openjdk-8-jdk, ant
Standards-Version: 3.9.6
Homepage: https://github.com/Koalephant/StanfordCoreNLPHTTPServer
Vcs-Git: git://git@github.com:Koalephant/StanfordCoreNLPHTTPServer.git
Vcs-Browser: https://github.com/Koalephant/StanfordCoreNLPHTTPServer

Package: stanford-corenlp-http-server
Architecture: all
Depends: java8-runtime-headless | openjdk-8-jre-headless | java8-runtime | openjdk-8-jre, lib-stanford-corenlp-java (>= 3.5.2), ${misc:Depends}
Description: HTTP Sever for Stanford CoreNLP
 JSON & XML aware HTTP Server to process text using Stanford CoreNLP
